body {
    
}

/** IDENTIFICADOR: CHAMANDO O ID, ESTILIZANDO PARA OCUPAR 100% DA LARGURA DA PAGINA **/
#chule {
    width: 100%;
    height: 100px;
}

#chule-background {
    width: 100%;
    height: 300px;
    background: url("imagem_principal_chule.jpg") no-repeat;
    background-size: contain;
    

}


/** CLASSE: CRIANDO FUNDO CINZA COM RESPIRO DE 30px **/
.principal_chule{
    background: #8ae4d5;
    padding: 30px;
}

/** CLASSE: ESTILIZANDO O TITULO COM RECUO DE 20xp P/ A ESQUERDA  **/
.titulo-principal{
    padding-left: 20px;
}

/** CLASSE: CENTRALIZANDO O TITULO **/
.titulo-centralizado {
    text-align: center
}

/** ESTILIZANDO O PARÁGRAFO, ALINHAMENTO DO TEXTO AO CENTRO **/
p {
    text-align: center;
}

/** IDENTIFICADOR: ESTILIZANDO O ID, AUMENTANDO O TAMANHO DA FONTE P/ 20xp **/
#missao {
    font-size: 20px;
}

/** ESTILIZANDO A FRASE QUE UTILIZA STRONG, TORNANDO ITÁLICO **/
em strong {
    color:#8006b4;
}

/** CLASSE: ESTILIZANDO TUDO O QUE TEM NA CLASSE EM ITÁLICO **/
.itens {
    font-style:italic;
}

/** CLASSE: ESTILIZANDO P/ FUNDO BRANCO E ESPAÇAMENTO DE 20xp **/
.beneficios{
    background: #cf8cd1;
    padding: 20px;
}

/** ESTILIZANDO A INLINE DENTRO DO BLOCO DE LISTA **/
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

/** CLASSE: IMAGEM OCUPANDO 50% DA PAGINA 
.imagemlistachule {
    width: 30%;
}
**/


/**
.imagemlistachule {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}
**/
